<!--
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>


<div class="container">
<form #userForm="ngForm">

  {{userForm.value | json}}
  <hr>
  {{userModel | json}}
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Email</label>
      <input type="email" #stemail="ngModel" required [class.is-invalid]="stemail.invalid && stemail.touched" class="form-control " [(ngModel)]="userModel.email" name="email" id="inputEmail4" placeholder="Email">
    
    
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Password</label>
      <input type="password" #pass="ngModel" pattern="^\d{10,12}$" [class.is-invalid]="pass.invalid && pass.touched"  class="form-control" [(ngModel)]="userModel.password"  name="password" id="inputPassword4" placeholder="Password">
      <small class="text-danger" [class.d-none]="pass.valid || pass.untouched">password minumem 10 to 12 digits required</small>
    </div>
  </div>

 
  <div class="form-group">
    <label for="inputAddress">Address</label>
    <input type="text" #addrs="ngModel"   autocomplete="off" name="address" [ngModel]="userModel.address" required class="form-control" id="inputAddress" placeholder="1234 Main St">
    <small class="text-danger" [class.d-none]="addrs.valid || addrs.untouched">Address is required {{addrs.value}}</small>
   
  </div>
 
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">City</label>
      <input type="text" name="city" autocomplete="off" [ngModel]="userModel.city"  class="form-control" id="inputCity">
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">State</label>
      <select id="inputState" name="state" [ngModel]="userModel.state"  class="form-control">
        <option selected>Choose...</option>
        <option *ngFor="let countries of states" value="{{countries}}">{{countries | titlecase}}</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="inputZip">Zip</label>
      <input type="text" name="zipcode" [ngModel]="userModel.zip"  autocomplete="off" class="form-control" id="inputZip">
    </div>
  </div>




  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" [ngModel]="userModel.newsletter"  name="newsletter" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        Check me out
      </label>
    </div>
  </div>
  <button (click)="formdata(userForm)" class="btn btn-primary">Sign in</button>
</form>
</div>
-->
<a routerLink="/dashboard">Home</a>
<a routerLink="post">Posts</a>
<router-outlet></router-outlet>
